on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request. 
  # Another comment ignore
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]

name: SonarQube Scan
jobs:
  sonarqube:
    name: SonarQube Trigger
    runs-on: self-hosted
    steps:
    - name: Checking out
      uses: actions/checkout@v4
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
        
    - name: Install SonarScanner
      run: |
          curl -fsSL https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip -o scanner.zip
          unzip -q scanner.zip
          sudo mv sonar-scanner-*/ /opt/sonar-scanner
          sudo ln -sf /opt/sonar-scanner/bin/sonar-scanner /usr/local/bin/sonar-scanner
    - name: SonarQube Scan
      env:
          SONAR_HOST_URL: ${{ secrets.SONARQUBE_HOST }}
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
      run: |
          sonar-scanner \
            -Dsonar.projectKey=hello_go \
            -Dsonar.sources=.
     # uses: kitabisa/sonarqube-action@v1.2.0
     # with:
     #   host: ${{ secrets.SONARQUBE_HOST }}
     #   login: ${{ secrets.SONARQUBE_TOKEN }}
     #   projectBaseDir: "/"
     #   projectKey: "hello_go"
